section{
    background-image: url('./../../../../public/img/section_our_menu_bg.jpg');
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    gap: 64px;
}

.menu{
    display:flex;
    flex-direction: column;
    gap: 56px;
}

.table-container{
    >table{
        font-size: 32px;
        color:#675E54;
        font-weight: bold;
        width: 100%;
    }
}

.dish{
    display:flex;
    align-items: center;
    gap: 80px;
    >img{
        height:352px;
        width:352px;
    }
}

.dish-right{
    display:flex;
    justify-content: end;
    align-items: center;
    gap: 80px;
    >img{
        height:352px;
        width:352px;
    }
}

.td-padding{
    padding-right: 140px;
}