section{
    font-weight: bold;
    font-size: 80px;
    color:#9F0908;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap:64px;
    padding: 120px 0;
}

.pick-container{
    display:flex;
    justify-content: space-evenly;
    width:100%;
}

.pick-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    color:#000000;
    text-align: center;
    flex-wrap: wrap;
    gap: 16px;
    >img{
        width: 128px;
        height: 128px;
    }
}